<div class="box">

    <div class="row header">
        <md-toolbar>
            XA Uber Dash
        </md-toolbar>
    </div>
    <div class="row content">

        <div class="box" flex="50">
            <login-stats></login-stats>
            <server-status></server-status>
        </div>

        <div class="box" flex="50">
            <div class="row content">
                <div class="box" flex="60">
                    <burn-down></burn-down>
                    <coverity-stats></coverity-stats>
                </div>
                <div class="box" flex="40">
                    <release-countdown></release-countdown>
                    <release-events></release-events>
                </div>
            </div>
            <calendar></calendar>
        </div>

    </div>
    <div class="footer">
        <social-ticker></social-ticker>
    </div>

</div>