<md-toolbar>
    XA Uber Dash
</md-toolbar>
<div layout="column" flex="100">
    <div layout="column" flex="50">
        <div layout="row">
            <login-stats></login-stats>
        </div>
        <div layout="row">
            <login-stats></login-stats>
        </div>
    </div>
    <div layout="column" flex="30">
        <login-stats></login-stats>
        <login-stats></login-stats>
    </div>
    <div layout="column" flex="20">
        <login-stats></login-stats>
        <login-stats></login-stats>
    </div>
</div>
